$icon-path:                        './fonts/icons';
$icon-size:                        1.25rem;
$icon-size-small:                  .625rem;
$icon-size-large:                  1.625rem;
$icon-size-px:                     20px;
$icon-size-small-px:               10px;
$icon-size-large-px:               26px;

$icons-active:                     #000000;
$icons-inactive:                   rgba(0, 0, 0, .25);
$overlay-outline-color:            rgba(0, 0, 0, .5);
