/* 
 -
 -  APP all platform stylesheets
 -
 */



/* --------------------------
 -   01. FOUNDATION
 */

@import '01-config/variables';                                             // Variables
@import '01-vendors/bootstrap_init';                                       // Bootstrap 4.6.0 (http://getbootstrap.com)
@import '01-base/mixins';                                                  // Util
@import '01-base/utilities';                                               // Util
@import '01-base/elements';                                                // Elements
@import '01-base/icons';                                                   // Icons
@import '01-base/root';                                                    // Root
@import '01-vendors/bot_ui';                                               // BOt UI



/* --------------------------
 -   02. LAYOUT
 */

 @import '02-layout/botapp';
 @import '02-layout/body-panel';
 @import '02-layout/content';
 @import '02-layout/context-panel';
 @import '02-layout/dashboard';
 @import '02-layout/footer';
 @import '02-layout/main-panel';
 @import '02-layout/navbar';
 @import '02-layout/panel-view';
 @import '02-layout/run-panel';
 @import '02-layout/scrollbar';
 @import '02-layout/voice-select';



/* --------------------------
 -   03. COMPONENTS
 */

@import '03-components/abc-checkbox';
@import '03-components/ace';
@import '03-components/bot';
@import '03-components/buttons';
@import '03-components/designer';
@import '03-components/drop-down';
@import '03-components/finder';
@import '03-components/forms';
@import '03-components/jsoneditor';
@import '03-components/leaf';
@import '03-components/logs';
@import '03-components/modal';
@import '03-components/nav';
@import '03-components/object-list';
@import '03-components/panel-list';
@import '03-components/popover';
@import '03-components/splitter';
@import '03-components/table';
@import '03-components/tabs-panel';
@import '03-components/tabulator';
@import '03-components/user-dropdown';
@import '03-components/splash-screen';



/* --------------------------
 -   00. DEV
 -   
 -   Not part of solutions, just for dev cases
 */

@import '00-dev/common';
@import '00-dev/supports';
