/*
 -	ABC checkbox
 */


.abc-radio,
.abc-checkbox {
    label::before {
        background-color: var(--bg-content-panel);
        border-color: var(--edge-llll);
    }

    label::after {
        color: var(--typo-text);
    }
}