/*
 -	ACE
 */


.ace-crimson-editor {
    background-color: var(--bg-content-panel);
    color: var(--typo-text);

    .ace_gutter {
        background-color: var(--bg-tabs);
        color: var(--typo-panel);
        z-index: 2;
    }

    .ace_cursor {
        color: var(--bg-active);
    }

    .ace_print-margin {
        background-color: var(--edge-l);
    }

    .ace_gutter-active-line {
        background-color: var(--bg-content-panel);
        color: var(--typo-text);
    }

    .ace_marker-layer {
        .ace_active-line {
            background-color: var(--bg-tabs);
            color: var(--typo-panel);   
        }
    }
}