/*
 -	Bot
 */


.bot {
    background-color: var(--bg-tabs);
    border-bottom: 0 !important;
}

#bot-view {
    border-right: 1px solid var(--edge-l);
    background-color: #C0C0D0;
}

.bot .btn-toolbar {
    border: 0;
}

.bot-tab {
    &-main {
        width: 50%;
    }

    &-nav {
        border: none !important;
    }
}

.bot-panel {
    .nav-tabs {
        position: relative;
        height: var(--navbar-height);
        z-index: $bot-panel-nav-tabs-zindex;

        &::before {
            display: none;
        }

        .nav-item {
            &::before {
                display: none;
            }
        }
        
        .nav-link {
            height: var(--navbar-height);
            background: var(--bg-navbar);
            box-shadow: var(--box-shadow);
            padding: 0 calc(var(--icon-offset-x) * 3);
            text-overflow: ellipsis;
            overflow: hidden;
            border: 0;
            line-height: var(--navbar-height);
            color: rgba($white, .5);

            &:hover,
            &:focus {
                color: rgba($white, .75);
                background: var(--bg-navbar);
            }

            &.active {
                background-color: transparent;
                box-shadow: none;
                color: rgba($white, 1);
            }

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .nav-tabs + div {
        height: calc(100vh - var(--navbar-height));
    }
}

#{$context-app-class} {
    .botapp {
        // Vertical splitter between app and bot panel
        & > .splitter-vertical {
            background-color: var(--bg-navbar);
            width: 0;
        }
    }
}