/*
 -	Btn
 */


.button-group {
    width: 100%;
    padding: $spacer;
    text-align: right;
}

.btn-group {
    > .btn:not(:first-child),
    > .btn-group:not(:first-child) {
      margin-left: 0;
    }
}

.btn-group-vertical {  
    > .btn:not(:first-child),
    > .btn-group:not(:first-child) {
      margin-top: 0;
    }
}

.panel-toolbar .btn-group-vertical {
    width: 100%;
    @include self-icon;
}

button {
    &.form-control.disabled {
        background: var(--bg-disabled);
    }
}

.btn {
    min-height: var(--btn-square-size);
    box-shadow: var(--btn-shadow);
    color: $white;

    &.bootstrap-touchspin-up,
    &.bootstrap-touchspin-down {
        min-height: ( var(--btn-square-size) / 2 );
    }

    .main-panel .btn-toolbar &,
    .run-panel .btn-toolbar & {
       padding: 6px;
       color: var(--typo-panel);
    }

    .panel-toolbar .btn-group & {
        min-width: var(--icon-size);
        text-align: center;
    }
}

.btn:disabled {    
    .panel-view & {
        color: var(--typo-btn-disabled);       
    }

    .panel-view.panel-toolbar &,
    .btn-toolbar.panel-toolbar & {
        color: var(--typo-disabled);
    }
}

.btn-hint {
    margin-top: 4px;
    margin-bottom: 8px;
    min-width: 54px;
}

.bootstrap-touchspin {
    .input-group-btn-vertical  {
        .bootstrap-touchspin-up,
        .bootstrap-touchspin-down {
            border-radius: $btn-border-radius;
        }
    }
}