/*
 -	Designer
 */


.designer {
    height: calc(100vh - ( var(--navbar-height) + var(--footer-height) ) );

    .card-panel & {
        height: calc(100vh - ( var(--navbar-height) + var(--footer-height) + #{$content-header-height} ) );
    }

    & > div:not(.tabs-panel) {
        position: relative;
        height: calc(100% - var(--nav-tabs-height));

        &::after {
            content: "";
            position: absolute;
            background-color: var(--edge-l);
            left: 0;
            top: 0;
            height: 1px;
            width: var(--btn-square-size);
            z-index: 1;
        }

        .nav-tabs-content {
            height: 100%;
        }
    }

    .content-panel {
        height: 100%;
    }
    
    &.card-panel {
        background-color: var(--bg-tabs);
    }

    h6 {
        margin: 0px;
        padding: 5px;
        background-color: var(--typo-text-h6);
    }

    .btn-info {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    .nav-link {
        color: var(--typo-panel);
    }
    
    .nav-tabs,
    .panel-toolbar {
        position: relative;
        background-color: var(--bg-tabs);
    }
    
    .panel-toolbar {
        @include tab-border-like(var(--edge-l), bottom, false);
        
        .btn {
            min-width: var(--btn-square-size);
            height: var(--btn-square-size);
        }

        &.btn-toolbar {
            height: var(--btn-square-size);
            border-right: 0;
            flex-wrap: nowrap;
        }

        &.panel-view {
            width: var(--btn-square-size);
            @include tab-border-like(var(--edge-l), right, false);
        }
    }

    canvas {
        &:focus {
            outline: none;
        }
    }

    .btn-toolbar {
        .btn {
            box-shadow: none;
            background-color: var(--bg-tabs);
            border: 0;

            @include hover() {
                background-color: var(--bg-tabs-active);
            }

            @include active-state {
                color: var(--typo-text);
                background-color: var(--bg-tabs-active);
                border-left: 1px solid var(--edge-l);
                border-right: 1px solid var(--edge-l);

                @include hover() {
                    background-color: var(--bg-tabs-active);
                }
            }
        }

        .btn.active + .btn {
            @include active-state {
                border-left: 0;
            }
        }

        .btn-group-vertical {
            .btn {
                border-right: 1px solid var(--edge-l);

                @include active-state {
                    border-left: 0;
                    border-top: 1px solid var(--edge-l);
                    border-bottom: 1px solid var(--edge-l);
                }
            }

            .btn.active + .btn {
                @include active-state {
                    border-top: 0;
                }
            }
        }
        
        .btn-group .btn {
            border-bottom: 1px solid var(--edge-l);
        }
    }

    .tab-saved {
        font-weight: inherit;
    }

    .tab-new, .tab-changed {
        font-weight: bold;
    }

    .tab-built {
        font-weight: inherit;
        .nav-link{
            &:after {
                content: " ✓";
            }
        }
    }

    .top-tabs > ul {
        background-color: var(--bg-tabs);
    }

    .node-editor-header {
        background-color: $bg-tabs;
        height: $nav-tabs-height-normal ;
        font-size: var(--nav-link-font-size);
        color: var(--typo-panel);
        padding: 4px;
        text-align: center;
    }

    .node-editor {
        height: calc(100% - #{$context-panel-comment-height} - #{$nav-tabs-height-normal});
        overflow: auto;
    }
}
