/*
 -	Drop down
 */


.dropdown {
    .btn.dropdown-toggle {
        height: var(--btn-square-size);
    }
}

 .dropdown-divider {
    border-color: var(--edge-ll);
}

.dropdown-menu {
    background-color: var(--bg-content-panel);
    border-color: var(--edge-l);
    border-radius: 0 !important;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .07), 0 4px 20px rgba(0, 0, 0, .07);
    color: var(--typo-text);

    .dropdown-item {
        background-color: var(--bg-content-panel);
        color: var(--typo-text);

        @include hover-focus() {
            background-color: var(--bg-highlight);
            color: var(--typo-text);
        }

        @include focus() {
            outline: 1px solid $input-focus-border-color;
            outline-offset: -1px;
        }

        &.dropdown-item--disabled {
            @include disabled-state;
        }
    }
}

.dropdown-menu {
    .context-menu & {
        width: 190px;
    }
    .designer .bootstrap-select & {
        overflow: auto;
    }
}

.dropdown.form-control {
    .dropdown-menu {
        &.show {
            max-height: 150px;

            .inner.show {
                max-height: 132px;
            }
        }
    }
}