/*
 -	Finder
 */


.fjs-container {
    background-color: var(--bg-content-panel);
    border: solid 0px lightgray;
    display: flex;
    font-size: .9em;
    min-height: 400px;
    overflow: auto;
}

.fjs-container:focus {
    outline:none;
}

.fjs-col {
    border-right: solid 1px var(--edge-l);
    max-height: 200px;
    min-height: inherit;
    min-width: 170px;
    overflow-y: auto;
}

.fjs-item a {
    align-items: flex-end;
    color: var(--typo-text);
    display: flex;
    justify-content: left;
    padding: 5px;
    padding-left: 8px;
    text-decoration: none;
}

.fjs-item a:focus {
    outline:none;
}

.fjs-item a span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fjs-item a span i {
    padding-right: 5px;
}

.fjs-active a {
    background-color: #DEDEDE;
}

.fjs-col:nth-last-child(2) .fjs-active a,
.fjs-col:last-child .fjs-active a {
    background-color: dodgerblue;
    color: white;
}

.fjs-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fjs-item-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fjs-col:nth-last-child(2) .fjs-active a .fa-caret-right,
.fjs-col:last-child .fjs-active a .fa-caret-right {
    color: white;
}

.finder-item {
    padding: 5px;
    flex-direction: column;
    display: flex;
    flex: 1;
}
.finder-item .label {
    font-weight: bold;
}

.finder .modal-body {
    padding: 0;
}