/*
 -	Forms
 */


.form-control,
input,
textarea {
    &[disabled],
    &:disabled {
        color: $input-disabled-color;
    }
}

.form-control {
    &[disabled],
    &:disabled {
        .bot & {
            background: $input-disabled-bg;
        }
    }

    .bot &,
    .object-list {
        border: 0px;
        border-radius: 0;
        border-bottom: 1px solid var(--edge-l);
    }
}

.form-group.row > .ace_editor {
    border: 1px solid var(--edge-llll);
    height: 300px;
}

.textarea-panel {
    font: 10pt 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.form-horizontal {
    &.container-fluid {
        padding-right: 20px;
    }
}