/*
 -	JSON editor
 */


.jsoneditor {
    .jsoneditor-value,
    .jsoneditor-field {
        color: var(--typo-text);
    }

    .jsoneditor-value {
        &.jsoneditor-string {
            color: #006000;
        }
        
        &.jsoneditor-number {
            color: #ee422e;
        }
        
        &.jsoneditor-boolean {
            color: #ff8c00;
        }
        
        &.jsoneditor-null {
            color: #004ed0;
        }
        
        &.jsoneditor-invalid {
            color: var(--typo-text);
        }
    }

    .jsoneditor-menu,
    .jsoneditor-navigation-bar {
        background-color: var(--bg-tabs);
        border-bottom-color: var(--edge-l);
    }

    .jsoneditor-menu {
        & > button,
        & .jsoneditor-modes > button {
            background-color: var(--edge-l);
            color: var(--typo-panel);
        }
    }

    .jsoneditor-frame {
        background-color: var(--bg-content-panel);
        border-color: (--edge-llll);
    }

    .jsoneditor-search input {
        background-color: var(--bg-content-panel);
        color: var(--typo-text);
    }
}