/*
 -	Leaf
 */


.leaf-col {
    align-items: center;
    border-right: 0;
    display: flex;
    flex: 2;
    justify-content: center;
    padding: 0 1.5em;
}

.leaf-row {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    text-align: center;
}

.leaf-row .fa {
    color: #a7a7a7;
    font-size: 4em;
    margin: 20px 0;
}

.leaf-row .fa-refresh {
    font-size: 2em;
}

.leaf-col .meta {
    font-size: .7em;
}

.leaf-col .meta strong {
    color: #C1C1C1;
    font-weight: normal;
}

.leaf-col .meta:first-of-type {
    margin-top: 1.5em;
}