/*
 -	logs
 */


.logs {
    margin-bottom: ( $spacer * 2 );

    &:last-child {
        margin-bottom: 0;
    }
}

.log {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    min-height: $log-avatar-size;
    margin-bottom: $spacer;

    &:last-child {
        margin-bottom: 0;
    }

    &__avatar {
        width: $log-avatar-size;
        height: $log-avatar-size;

        & > img {
            border-radius: $log-avatar-size;
            width: $log-avatar-size;
            max-width: 100%;
            height: auto;
        }
    }

    &__body {
        width: calc(100% - #{$log-avatar-size});
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 0 ( $spacer * 2 ) 0 $spacer;
    }


    &__author {
        font-size: $font-size-sm;

        a {
            color: var(--typo-text);
        }

        span {
            color: var(--typo-space);
            padding-left: ( $spacer / 2 );
        }
    }

    &__title {
        a {
            font-weight: bold;
            color: var(--typo-text);
        }
    }

    &__description {
        p {
            margin-bottom: 0;
        }
    }
}