/*
 -	Modal
 */


.modal {
    .modal-header,
    .modal-footert {
        background-color: var(--bg-tabs);
        border-bottom: 0 !important;
    }

    .modal-body {
        padding: 0 !important;
    }

    .modal-canvas .modal-body {
        padding: 0;
        margin: 0;
    }

    .modal-header,
    .modal-footer {
        border-radius: 0 !important;
    }

    .modal-footer {
        border-top: 1px solid var(--edge-l);
        background-color: var(--bg-tabs);
    }

    .modal-content {
        background-color: var(--bg-content-panel);
    }

    .close {
        color: var(--typo-text);
        text-shadow: none;
    }

    .nav-tabs-fixed {
        height: 200px;     // max height of tab content with this class
        overflow: auto;
        padding: $spacer $spacer $spacer 0;
        margin-right: -$spacer;
    }

    .nav-tabs + div {
        padding: 0 $spacer;
    }
}

.modal-backdrop {
    background-color: var(--modal-backdrop);

    &.show {
        opacity: var(--modal-backdrop-show);
    }
}

.modal-open {
    .splitpanel-vertical {
        // filter: blur(1px);
    }
}