/*
 -	Nav tabs
 */


.nav-tabs {
    position: relative;
    height: var(--nav-tabs-height);
    @include tab-border-like(var(--edge-l), bottom, false);

    &.tabs-top {
        &::-webkit-scrollbar {
            width: ( $scrollbar-size / 3 );
            height: ( $scrollbar-size / 3 );
        }
    }

    &.nav-tabs-bottom {
        .nav-item::before {
            display: none;
        }
    }

    .nav-item {    
        @include tab-border-like(var(--edge-l), bottom, false);

    }

    .nav-link {
        font-size: var(--nav-link-font-size);
        color: var(--typo-panel);
        min-width: var(--btn-square-size);
        height: var(--btn-square-size);
        margin-bottom: 0;
        padding: var(--icon-offset-y) ( $icon-offset-x-normal * 2 );
        text-align: center;

        @include hover-focus() {
            background-color: $nav-tabs-link-active-bg;
            @include tab-border-like(var(--edge-l), bottom, true);
        }

        @include active-tab-like;
    }

    // Remove border from first item
    .nav-item:first-child .nav-link.active {
        border-left-color: transparent;
    }

    .kv-tab-close {
        margin: var(--offset-tab-close-negative) 0 var(--offset-tab-close-negative) var(--offset-tab-close);
        padding: var(--offset-tab-close);
        opacity: var(--close-opacity);
        font-size: var(--icon-size);
        color: var(--typo-text);
        text-shadow: none;

        @include tablet-view {
            position: relative;
            top: 2px;
        }
    }
}

.nav-item {
    &.nav-item--disabled {
        @include disabled-state;

        .dropdown-toggle {
            outline: none;

            @include all-states {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}