/*
 -	Object list
 */


.object-list-row {
    margin: calc(var(--icon-offset-x) / 2);

    & > span {
        display: inline-block;
        margin: 0 var(--icon-offset-x);
    }
}

.object-list-preview {
    display: flex;
    background: var(--bg-disabled);
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    float: left;
}

.object-list-detail {
    display: block;
    height: 60px;
    padding: 4px;
    cursor: pointer;
    font-size: 15px;
}

.object-list-search-input {
    position: relative;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}