/*
 -	Panel list
 */


.panel-list {
    &__item {
        position: relative;
        padding-left: $spacer;
        margin-bottom: ( $spacer / 4 );
        word-wrap: break-word;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: .7em;
            left: 0;
            width: 4px;
            height: 4px;
            background-color: var(--typo-text);
        }
    }
}