/*
 -	Popover
 */


.popover {
    max-width: 400px !important;  // @TODO why?
    z-index: $popover-zindex;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-content-panel);
    border-color: var(--edge-llll);
    border-radius: 0;
}

.popover-header {
    background-color: var(--bg-content-panel);
}

.popover-body {
    color: var(--typo-text);

    .btn-hint + .btn-hint {
        margin-left: 1px;
    }
}

.bs-popover-top,
.bs-popover-auto[x-placement^=top] {
    & > .arrow::before {
        border-top-color: var(--edge-llll);
    }

    & > .arrow::after {
        border-top-color: var(--bg-content-panel);
    }
}

.bs-popover-right,
.bs-popover-auto[x-placement^=right] {
    & > .arrow::before {
        border-right-color: var(--edge-llll);
    }

    & > .arrow::after {
        border-right-color: var(--bg-content-panel);
    }
}

.bs-popover-bottom,
.bs-popover-auto[x-placement^=bottom] {
    & > .arrow::before {
        border-bottom-color: var(--edge-llll);
    }

    & > .arrow::after {
        border-bottom-color: var(--bg-content-panel);
    }

    & .popover-header::before {
        border-bottom: 1px solid var(--edge-l);
    }
}

.bs-popover-left,
.bs-popover-auto[x-placement^=left] {
    & > .arrow::before {
        border-left-color: var(--edge-llll);
    }

    & > .arrow::after {
        border-left-color: var(--bg-content-panel);
    }
}