/*
 -	Splitter
 */

#{$context-app-class} {
    .splitter-vertical {
        width: $splitter-size;
        background-image: none;
        background-color: var(--edge-l);
        overflow: unset !important;
        position: relative;

        &:after {
             content: "";
             position: absolute;
             left: -1px;
             width: $splitter-size-virtual;
             background: transparent;
             height: 100%;
             z-index: 3;
        }

        &:before {
             content: "";
             position: absolute;
             left: 0px;
             width: $splitter-size;
             background-color: var(--bg-active-splitter);
             height: 100%;
             transition: opacity 200ms ease 0s;
             opacity: 0;
             z-index: 3;
         }

        &:hover:after {
//              background-color: var(--bg-active-splitter-virtual);
        }

        &:hover:before {
             opacity: 1;
        }
    }

    .splitter-horizontal {
        height: $splitter-size;
        background-image: none;
        background-color: var(--edge-l);
        overflow: unset !important;
        position: relative;

        &:after {
             content: "";
             position: absolute;
             top: -1px;
             width: 100%;
             background: transparent;
             height: $splitter-size-virtual;
             z-index: 3;
         }

        &:before {
            content: "";
            position: absolute;
            top: 0px;
            height: $splitter-size;
            background-color: var(--bg-active-splitter);
            width: 100%;
            transition: opacity 200ms ease 0s;
            opacity: 0;
            z-index: 3;
        }

        &:hover:after {
//              background-color: var(--bg-active-splitter-virtual);
        }

        &:hover:before {
             opacity: 1;
        }
    }
}