/*
 -	Tabulator
 */


.tabulator {
    .tabulator-header {
        .tabulator-col .tabulator-col-content {
            padding-top: 0.3em;
        }

        .view & {
            border-top: 0;
            height: var(--btn-square-size);
        }

        .tabulator-cell {
            .view & {
                font: 10pt 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
            }
        }
    }
}

.tabulator {
    background-color: var(--bg-content-panel);
    
    .tabulator-header {
        background-color: var(--bg-content-panel);
        border-top-color: var(--edge-ll);
        border-bottom-color: var(--edge-ll);

        .tabulator-col {
            background-color: var(--bg-content-panel);

            &.tabulator-sortable:hover {
                background-color: var(--bg-tabs);
            }
        }
    }

    .tabulator-tableHolder {
        .tabulator-table {
            width: 100%;
            background-color: var(--bg-content-panel);
        }   

        .tabulator-row {
            background-color: var(--bg-content-panel);
            border-bottom-color: var(--edge-ll);

            &.tabulator-selected {
                background-color: $bg-highlight;
            }
        }
    }
}