/*
 -	Panel tabs
 */

.designer {
    .tabs-panel {
        position: relative;
        height: var(--nav-tabs-height);

        &__tabs.nav-tabs {
            padding-right: var(--btn-square-size);
            overflow: hidden;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;

            .nav-item {
                flex-shrink: 1;
                overflow: hidden;
            }

            .nav-link {
                position: relative;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: calc( var(--icon-size) + var(--offset-tab-close) + var(--offset-tab-close) + var(--offset-tab-close) );
            }

            .kv-tab-close {
                position: absolute;
                top: calc( var(--offset-tab-close) + ( var(--offset-tab-close) / 2 ) );
                right: var(--offset-tab-close);
            }
        }

        &__dropdown {
            position: absolute;
            top: 0;
            right: 0;

            .dropdown-toggle {
                width: var(--btn-square-size);
                padding: 0;
            }

            .dropdown-menu {
                padding: 0;
                margin: -1px 0 0 0;
                background-color: var(--bg-tabs);
            }

            .nav-item:first-child {
                .nav-link { 
                    height: calc(var(--nav-tabs-height) - 1px);
                }
            }

            .nav-link {
                position: relative;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: var(--nav-tabs-height);

                @include hover-focus() {
                    background-color: $nav-tabs-link-active-bg;
                }

                &.active {
                    color: var(--typo-text);
                    background-color: var(--bg-tabs-active);
                }
            }

            .kv-tab-close {
                display: none;
            }
        }
    }
}