/*
 -	User-dropdown
 */


.user-dropdown {
    .btn {
        border-color: transparent;
        min-width: 140px;
        line-height: calc( var(--btn-square-size) - 6px - 6px);
    }
    
    img {
        position: relative;
        top: -1px;
        height: var(--user-avatar-size);
        border-radius: var(--user-avatar-size);
    }
}

#BotButton {
    width: var(--btn-square-size);
    padding: 0;
}