/*
 -	Generic elements - atoms
 */


[data-theme] {  // temporary until Bootstrap context fix
    body {
        overflow: hidden;
        color: var(--typo-text);
    }

    h2 {
        font-size: 1.25rem !important;
    }

    h3 {
        font-size: 1.1rem !important;
    }

    p {
        color: var(--typo-text);

        &.bigger {
            font: 14pt "Century Gothic", Arial;
        }
        
        &.hint {
            font-size: 16px;
            clear: both;
        }
    }

    img {
        &.preview {
            height: 100%;
            width: 100%;
            object-fit: contain;
            pointer-events: none;
        }    
    }

    pre {
        font: 10pt 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    }

    pre {
        margin-bottom: 0 !important;
        padding: 4px;
    }

    // input {
    //     border: 0;
    //     margin: 0;
    //     padding: 0;
    // }

    a {
        &.dropdown-item {
            i.fas {
                min-width: 24px;
            }
        }
    }
}