/*
 -	Icons
 */

@font-face {
    font-family: 'icons';
    src:
            url('../../../../../src/jsMain/web/font/icons.ttf') format('truetype'),
            url('../../../../../src/jsMain/web/font/icons.woff') format('woff'),
            url('../../../../../src/jsMain/web/font/icons.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

.fa-icon-offset-x-l {
    margin-left: var(--icon-offset-x);       // Offset x = horizontal, l = left
}

.fa-icon-offset-x-r {
    margin-right: var(--icon-offset-x);       // Offset x = horizontal, r = right
}

.fa-icon-offset-y-t {
    margin-top: var(--icon-offset-y);       // Offset y = vertical, t = top
}

.fa-icon-offset-y-b {
    margin-bottom: var(--icon-offset-y);       // Offset y = vertical, b = bottom
}

.fa-icon {
    font-size: var(--icon-size);
    vertical-align: baseline;

    @extend .fa-icon-offset-x-l;
    @extend .fa-icon-offset-x-r;
    
    .dropdown & {
        margin-left: 0; // reset left
    }

    #BotButton & {
        margin-left: 0; // reset left
        margin-right: 0; // reset right
    }
}

.fa-folder {
    color: var(--blue-spec-1);
}

.fa-file-o {
    color: var(--typo-space);
}

.fa-external-link {
    color: var(--blue-spec-2);
    font-size: smaller;
}

.fa-caret-right {
    padding: 0 0 0 .5em;
    color: var(--typo-space);
}

.icon-diamond {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: calc( var(--icon-offset-x) + 1px );
    transform: rotate(45deg);
    vertical-align: middle;

    .object-list-row > & {
        margin: -2px calc( var(--icon-offset-x) + 1px ) 0;
    }
}