/*
 -	Simple mixins classes or unordered
 */


@mixin focus() {
    &:focus {
        @content;
    }
}

@mixin minimalized() {
    height: 0;
    overflow: hidden;
}

@mixin self-icon() {
    .fa-icon {
        margin-left: 0;
        margin-right: 0;
    }
}

@mixin tab-border-like($border-color: transparent, $position, $link: false) {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color: $border-color;

        @if $position == right {
            left: auto;
            right: 0;
            width: 1px;
            height: 100%;
        } @else if  $position == bottom {
            right: auto;
            bottom: 0;
            height: 1px;

            @if $link {
                left: -1px;
                width: calc(100% + 2px);
            } @else {
                left: 0;
                width: 100%;
            }
        }
    }
}

@mixin active-tab-like {
    position: relative;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    &:active,
    &.active {
        border-top-color: var(--edge-l);
        border-left-color: var(--edge-l);
        border-right-color: var(--edge-l);
        @include tab-border-like(var(--tabs-active), bottom, true);
    } 
}

@mixin tablet-view {
    [data-view-mode="tablet"] & {
        @content;
    }
}

@mixin desktop-view {
    [data-view-mode="desktop"] & {
        @content;
    }
}

@mixin active-state {
    &:active,
    &.active {
        @content;
    }
}

@mixin disabled-state() {
    user-select: none;
    pointer-events: none;
    opacity: .3;
}

@mixin all-states() {
    &,
    &:hover,
    &:focus,
    &:hover:focus {
        @content;
    }
}

