/*
 -	Rooting vars
 */


html,
body {
    height: 100%;
    background-color: $gray-1;
}

// Setting common color and view variables
:root {
    @each $color, $value in $gen-app-colors-common {
        --#{$color}: #{$value};
    }

    --btn-square-size: #{$btn-square-size-normal};

    --icon-size: #{$icon-size-normal};
    --icon-offset-x: #{$icon-offset-x-normal};
    --icon-offset-y: #{$icon-offset-y-normal};

    --user-avatar-size: #{$user-avatar-size-normal};

    // Layout
    --navbar-height: #{$navbar-height-normal};
    --navbar-logo-size: #{$navbar-logo-size-normal};
    --nav-tabs-height: #{$nav-tabs-height-normal};
    --nav-link-font-size: #{$nav-link-font-size-normal};

    --footer-height: #{$footer-height-normal};

    --offset-tab-close: #{$offset-tab-close-normal};
    --offset-tab-close-negative: #{$offset-tab-close-negative-normal};
}

 // Setting color variables to light mode, default
:root,
[data-theme="light-mode"] {
    @each $color, $value in $gen-app-colors {
        --#{$color}: #{$value};
    }
}

// Setting color variables to dark mode
[data-theme="dark-mode"] {
    @each $color, $value in $gen-app-colors-dark {
        --#{$color}: #{$value};
    }
}

// Setting tablet view
[data-view-mode="tablet"] {
    --btn-square-size: #{$btn-square-size-large};

    --icon-size: #{$icon-size-large};
    --icon-offset-x: #{$icon-offset-x-large};
    --icon-offset-y: #{$icon-offset-y-large};

    --user-avatar-size: #{$user-avatar-size-large};

    // Layout
    --navbar-height: #{$navbar-height-large};
    --navbar-logo-size: #{$navbar-logo-size-large};
    --nav-tabs-height: #{$nav-tabs-height-large};
    --nav-link-font-size: #{$nav-link-font-size-large};

    --footer-height: #{$footer-height-large};

    --offset-tab-close: #{$offset-tab-close-large};
    --offset-tab-close-negative: #{$offset-tab-close-negative-large};


}

// TODO: to rewrite selectors like callbacks mixins and move to components partials

[data-toggle-edit-view="on"],
[data-toggle-run-view="on"] {
    .footer-panel {
        height: 0;
        min-height: 0;
        overflow: hidden;
    }
}

[data-toggle-edit-view="on"] {
    .main-panel {
        height: calc(100vh - ( var(--nav-tabs-height) + var(--nav-tabs-height) + var(--navbar-height) + 1px + 1px ) ); // full height - ( height of header / navbar + height of designer nav + height of run panel nav + two times borders)
    }

    .body-panel,
    .designer {
        height: calc(100vh - ( var(--navbar-height) - 1px ) );
    }
}

[data-toggle-run-view="on"] {
    .main-panel {
        height: 0;
    }

    .body-panel,
    .designer {
        height: calc(100vh - var(--navbar-height) );
    }
}