/*
 -	Simple utility classes or unordered
 */


.asset-preview {
    background: var(--bg-content-panel);
    margin-bottom: 12px;
}

.auth0-lock-header-bg {
    background: white !important;
}

.bg-light {
    background-color: var(--bg-content-panel);
    border-bottom: 0 !important;
}

.card-panel {
    background-color: var(--bg-content-panel);
    height: 100%;
}

.entity-form {
    margin: 12px !important;
}

.hint {
    color: var(--typo-text);
}

.jsoneditor {
    border: 0;
}

.shortcut {
    float: right;
    color: #a0a0a0;
}

.textarea-panel {
    font-size: 10pt !important;
}

.toast {
    border: 0 !important;
}

.view {
    overflow: auto;
}

.wallpaper {
    background: url("../img/bgrnd.jpg") no-repeat;
    background-size: 150% 100%;
}

.web-view {
    width: 100%;
    height: 600px;
    border: 0;
}

.text-dark {
    color: var(--typo-text) !important;
}

.text-light {
    color: var(--typo-disabled) !important;
}

.embed-responsive-20by7 {
    &::before {
        padding-top: ( ( 280 / 800 ) * 100% );
    }
}