/*
 -	Body panel
 */


.body-panel {
    width: 100%;
    height: calc(100vh - ( var(--navbar-height) + var(--footer-height) ) );
    overflow: hidden;

    .app-client--minimalized & {
        height: calc(100vh - var(--footer-height) );
    }
}