/*
 -	Context panel
 */


.context-panel {
    .comment {
        border: 1px solid var(--edge-l);
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-radius: 0;
        height: $context-panel-comment-height;
        padding-left: 6px;
        padding-top: 2px;
        resize: none;

        &:focus {
            border-color: var(--bg-active);
        }
    }
}