/*
 -	Content
 */


.content-header {
    height: $content-header-height;
    padding: ( $grid-gutter-width / 2 );
    background-color: var(--bg-content-header);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content-header-title {
        h2 {
            padding: 0;
            margin: 0;
        }
    }

    .content-header-controls {
        & > div {
            display: flex;
        }
    }
}

.content-panel {
    background-color: var(--bg-content-panel);
    height: calc(100% - #{$content-header-height});
    overflow: auto;
}

iframe {
    &.content-panel {
        width: 100%;
        border: none;
    }
}

.content-form {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--edge-l);
}