/*
 -	Dashboard
 */


.dashboard {
    &__pane {
        height: 100%;
        background-color: var(--bg-pane);
        border: 2px solid var(--bg-pane);
        padding: ( $spacer * 2 ) $spacer;

        &--raw {
            padding: 0;
            border: none;
        }

        &--stripped {
            background: linear-gradient(180deg, var(--bg-pane) 0, var(--bg-content-panel) 10%);
        }

        &--news {
            .btn {
                width: 100%;
                max-width: 200px;
                margin-bottom: $spacer;
            }
        }
        
        &--video {
            @include media-breakpoint-up(lg) {
                max-height: 300px;
            }
        }
    }
}