/*
 -	Footer
 */


.footer-panel {
    font-size: var(--nav-link-font-size);
    height: var(--footer-height);
    line-height: var(--footer-height);
    min-height: var(--btn-square-size);
    background-color: var(--bg-footer);
    color: var(--typo-footer);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-flow: row-reverse;

    div {
        padding: 0 6px;
    }
    
    ul {
        border: 0;
        line-height: $line-height-base;
    }

    .nav-tabs {
        &::before {
            display: none;
        }

        .nav-link {

            &.active {
                border-top-color: transparent;

                &::before {
                    display: none;
                }
            }

            @include hover-focus() {
                &::before {
                    display: none;
                }
            }
        }
    }
}