/*
 -	Main panel
 */


.main-panel {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 55vh; // default height

    &--snippets-designer {
        height: 100%;
    }

    .card-panel & {
        height: auto;

        & > div {
            width: 100%;
        }
    }
    
    .panel-view .nav-tabs {
        & + div {
            height: calc(100% - var(--nav-tabs-height));
        }

        & + div > div {
            height: 100%;
            overflow: hidden;
        }
    }
}

#graphEditor {
    height: 100%;
}

.designer-panel {
    & > div {
        height: 100%;
    }

    @include self-icon;
}

.sub-nav {
    @include self-icon;
    height: 100%;
    overflow: hidden;

    & > div {
        overflow: auto;
    }

    .panel-view-nav3 {
        height: calc(100% - var(--nav-tabs-height));
        overflow: auto;
    }
}

.panel-view-nav1 {
    height: 100%;

    & > div {
        height: 100%;
    }

    //.context-panel & >

    .panel-toolbar {
        height: var(--nav-tabs-height);
    }

    .panel-view-nav2 {
        height: calc(100% - var(--nav-tabs-height));
    }
}
