/*
 -	Navbar
 */


.navbar {
    padding: 0 !important;
}

.navbar-panel {
    position: relative;
    background-color: var(--bg-navbar);
    width: 100%;
    height: var(--navbar-height);
    box-shadow: var(--box-shadow);

    @include media-breakpoint-up(lg) {
        height: var(--navbar-height);
    }

    .app-client--minimalized & {
        @include minimalized;
    }

    @include desktop-view {
        .dropdown .btn.dropdown-toggle,
        .btn {
            height: $navbar-height-normal;

            &:not(:focus) {
                box-shadow: none;   
            }
        }
    }

    .nav-link,
    .btn {
        font-size: var(--nav-link-font-size);
    }
}

.navbar-logo {
    background-image: url("../img/logo.png");
    background-size: var(--navbar-logo-size);
    background-repeat: no-repeat;
    width: var(--navbar-logo-size);
    height: var(--navbar-logo-size);
    float: left;
    display: block;
    cursor: pointer;
}

.navbar-form {
    button,
    input {
        background-color: $bg-default-second;
        border: 0px;
        color: #c8c7cf;
    }
    
    .dropdown.form-control {
        background-color: $bg-default-second;

        .dropdown-toggle {
            height: auto;
            font-size: var(--nav-link-font-size);
            margin-right: $spacer;
            padding-top: var(--icon-offset-y);
            padding-bottom: var(--icon-offset-y);
        }
    }
}

.navbar-nav  {
    align-items: center;

    > a,
    > a:visited {
        padding-left: ( $grid-gutter-width / 4 );
        padding-right: ( $grid-gutter-width / 4 );
        vertical-align: baseline;
        color: #908f9f;
    }

    > a:hover {
        text-decoration: none;
        color: #c7c6ce;
    }
}