/*
 -	Panel view
 */


.panel-view {
    width: calc(100% - var(--btn-square-size));
    padding: 0;

    &.panel-toolbar {
        width: var(--btn-square-size);
    }
}

.panel-view-nav1 {
    overflow: hidden;
}