/*
 -	Run panel
 */


.run-panel {
    overflow: hidden;
    border-bottom: 1px solid var(--edge-l);

    & > .resizable {
        overflow: hidden;
    }
}

.run-panel-holder {
    display: flex;

    .panel-view {
        & > div {
            align-items: flex-start;
            height: calc(100% - var(--nav-tabs-height));
        }
    }
}