/*
 -	Scrollbar
 */


::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
    display: block;
    position: relative;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--edge-l);
    border-radius: $scrollbar-radius;
    border: 1px solid var(--edge-l);
    display: block;
    position: relative;
}

::-webkit-scrollbar-corner {
    background: transparent;
}