/*
 -	VoiceSelect
 */


.voice-select {
    height: 100%;

    .panel-toolbar {
        height: var(--nav-tabs-height);
    }

    .panel-view-nav1 {
        height: calc(100% - var(--nav-tabs-height));
        overflow: auto;
    }

    .panel-view-nav1 > div {
        height: auto;
    }

    .panel-view-nav1 {
        height: calc(100% - var(--nav-tabs-height));
        overflow: auto;
    }

    .panel-view-nav1 > div {
        height: auto;
    }
    
    .comment {
        color: var(--typo-text);
        border-color: var(--bg-tabs-active);

        &:focus {
            border-color: var(--bg-active);
        }
    }

    .btn-group:not(.test-btn) {
        @include self-icon;
    }
}

.designer {
    .voice-select {
        .panel-toolbar {
            height: var(--nav-tabs-height);
    
            .btn.btn-light {
                position: relative;
                @include active-tab-like;

                &.active {
                    border-bottom-color: var(--bg-tabs-active);
                }
            }
        }
    }
}