<div class="finder-item">
    <div class="label">Dialog Snippet</div>
    <div class="value">{{snippet.name}}</div>
    <div class="label">Popis</div>
    <div class="value">{{snippet.description}}</div>
</div>