<div class="finder-item">
    <div class="label">Snippet</div>
    <div class="value">{{snippet.name}}</div>
    <div class="label">Descripción</div>
    <div class="value">{{snippet.description}}</div>
</div>