<div class="finder-item">
    <div class="label">Dialogue</div>
    <div class="value">{{dialogue.dialogueName}}</div>
    <div class="label">Version</div>
    <div class="value">{{dialogue.version}}</div>
    <div class="label">Description</div>
    <div class="value">{{dialogue.description}}</div>
    <div class="label">State</div>
    <div class="value">{{dialogue.state}}</div>
    <div class="label">Last Update</div>
    <div class="value">{{dialogue.datetime}}</div>
    {{#if dialogue.lock}}
        <div class="label">Currently open</div>
        <div class="value">{{dialogue.lock}}</div>
        <div class="value">{{dialogue.lockTime}}</div>
    {{/if}}
</div>