<div class="finder-item">
    <div class="label">Diálogo</div>
    <div class="value">{{dialogue.dialogueName}}</div>
    <div class="label">Versión</div>
    <div class="value">{{dialogue.version}}</div>
    <div class="label">Descripción</div>
    <div class="value">{{dialogue.description}}</div>
    <div class="label">Estado</div>
    <div class="value">{{dialogue.state}}</div>
    <div class="label">Última actualización</div>
    <div class="value">{{dialogue.datetime}}</div>
    {{#if dialogue.lock}}
        <div class="label">Actualmente abierto</div>
        <div class="value">{{dialogue.lock}}</div>
        <div class="value">{{dialogue.lockTime}}</div>
    {{/if}}
</div>