<div class="finder-item">
    <div class="label">Dialog</div>
    <div class="value">{{dialogue.dialogueName}}</div>
    <div class="label">Version</div>
    <div class="value">{{dialogue.version}}</div>
    <div class="label">Beschreibung</div>
    <div class="value">{{dialogue.description}}</div>
    <div class="label">Stand</div>
    <div class="value">{{dialogue.state}}</div>
    <div class="label">Stand</div>
    <div class="value">{{dialogue.state}}</div>
    <div class="label">Letztes Update</div>
    <div class="value">{{dialogue.datetime}}</div>
    {{#if dialogue.lock}}
        <div class="label">Otevřeno</div>
        <div class="value">{{dialogue.lock}}</div>
        <div class="value">{{dialogue.lockTime}}</div>
    {{/if}}
</div>