<div class="finder-item">
    <div class="label">Dialogue Snippet</div>
    <div class="value">{{snippet.name}}</div>
    <div class="label">Beschreibung</div>
    <div class="value">{{snippet.description}}</div>
</div>