/*
 -	Common dev
 */

@if $dev-flag {
    img {
        // Without ALT attr
        &[alt=""],
        &:not([alt]) {
            outline: 4px #0000ff dashed !important;
        }
        
        // Without title attr
        &[title=""],
        &:not([title]) {
            outline: 4px #ff0000 dashed !important;
        }
    }
}