/*
 -	Variables - Buttons
 */


$btn-border-width:                 1px;
$btn-border-radius:                0;
$btn-line-height:                  1;
$btn-padding-x:                    ( $grid-gutter-width / 2 );
$btn-padding-y:                    ( $grid-gutter-width / 4 );

$btn-square-size-normal:           $square-wrapper-size-normal;
$btn-square-size-large:            $square-wrapper-size-large;

$user-avatar-size-normal:          22px;
$user-avatar-size-large:           30px;