/*
 -	Variables - Colors
 */


// Basic pallete
$white:                         #ffffff;
$gray-1:                        #f0f4f7;
$gray-1l:                       lighten($gray-1, 2%);
$gray-2:                        #ebebeb;
$black:                         #000000;

$blue-1:                        #90e4ff;
$blue-2:                        #629eff;

$black-transparent-1:           rgba($black, .25);
$black-transparent-1-dm:        rgba($black, .45);
$white-transparent-1:           rgba($white, .25);
$black-transparent-2:           rgba($black, .13);
$black-transparent-2-dm:        rgba($black, .33);
$white-transparent-2:           rgba($white, .13);

// Pallete
// Backgrounds
$bg-default:                    #221e41;
$bg-default-second:             #41405c;
$bg-default-dm:                 #221e41;
$bg-default-second-md:          #41405c;

$bg-navbar:                     $bg-default;
$bg-navbar-dm:                  $bg-default-dm;
$bg-content-header:             $gray-1;
$bg-content-header-dm:          #181d29;
$bg-content-panel:              $white;
$bg-content-panel-dm:           #05001d;
$bg-tabs:                       $gray-1;
$bg-tabs-dm:                    #1c2434;
$bg-pane:                       $gray-1l;
$bg-pane-dm:                    #121721;
$bg-tabs-active:                $white;
$bg-tabs-active-dm:             #05001d;
$bg-highlight:                  #e6f2ff;
$bg-highlight-dm:               #1e1a34;
$bg-active:                     #0079ff;
$bg-active-dm:                  #0079ff;
$bg-footer:                     $gray-2;
$bg-footer-dm:                  #181d29;
$bg-disabled:                   mix($black, $bg-content-panel, 6%);
$bg-disabled-dm:                mix($white, $bg-content-panel-dm, 6%);
$bg-active-splitter:            rgba($bg-active, 0.5);
$bg-active-splitter-dm:         rgba($bg-active, 0.5);
$bg-active-splitter-virtual:    rgba($bg-active, 0.1);
$bg-active-splitter-virtual-dm: rgba($bg-active, 0.5);

// Modal 
$modal-backdrop:               $black;
$modal-backdrop-dm:            $white;
$modal-backdrop-show:          .5;
$modal-backdrop-show-dm:       .2;

// Close 
$close-opacity:                0.2;
$close-opacity-dm:             0.4;

// Edges/borders
$edge-l1:                      #aec3d7;
$edge-l1-dm:                   #121925;
$edge-l2:                      #d3dfe9;
$edge-l2-dm:                   #192041;
$edge-l3:                      #edf2f6;
$edge-l3-dm:                   #0e0d2c;
$edge-l4:                      #ced4da;
$edge-l4-dm:                   #2b3255;

// Font + piktogram colors
$typo-space:                   #908fa0;
$typo-space-dm:                #908fa0;
$typo-panel:                   #4e80a9;
$typo-panel-dm:                #535f75;
$typo-text:                    #212529;
$typo-text-h6:                 #e2e8ef;
$typo-text-dm:                 #8a90a0;
$typo-text-h6-dm:              #e2e8ef;
$typo-disabled:                #a3b9d0;
$typo-btn-disabled:            rgba($white, .75);
$typo-disabled-dm:             #a3b9d0;
$typo-btn-disabled-dm:         rgba($white, .75);
$typo-active:                  $white;
$typo-active-dm:               $white;
$typo-footer:                  #8e8e8e;
$typo-footer-dm:               #8a90a0;

// Shadow
$box-shadow:                   0 2px 10px $black-transparent-1;
$box-shadow-dm:                0 2px 10px $black-transparent-1-dm;
$btn-shadow:                   0 1px 5px $black-transparent-2, 0 2px 10px $black-transparent-2, 0 4px 20px $black-transparent-2;
$btn-shadow-dm:                0 1px 5px $black-transparent-2-dm, 0 2px 10px $black-transparent-2-dm, 0 4px 20px $black-transparent-2-dm;

// Pre
$pre-color:                    var(--typo-text);

// Theme
$primary:                      #007bff;
$primary-dm:                   #007bff;
$secondary:                    #908fa0;
$secondary-dm:                 #908fa0;
$success:                      #18b132;
$success-dm:                   #18b132;
$info:                         #09a6c1;
$info-dm:                      #09a6c1;
$warning:                      #f1b402;
$warning-dm:                   #f1b402;
$danger:                       #e20729;
$danger-dm:                    #e20729;
$light:                        $edge-l3;
$light-dm:                     $edge-l3-dm;
$dark:                         $edge-l4;
$dark-dm:                      $edge-l4-dm;

// Generator VARs
$gen-app-colors: (
  "typo-text":                     $typo-text,
  "typo-text-h6":                  $typo-text-h6,
  "typo-disabled":                 $typo-disabled,
  "typo-active":                   $typo-active,
  "typo-footer":                   $typo-footer,
  "typo-space":                    $typo-space,
  "typo-panel":                    $typo-panel,
  "typo-btn-disabled":             $typo-btn-disabled,
  "bg-navbar":                     $bg-navbar,
  "bg-content-header":             $bg-content-header,
  "bg-content-panel":              $bg-content-panel,
  "bg-tabs":                       $bg-tabs,
  "bg-tabs-active":                $bg-tabs-active,
  "bg-pane":                       $bg-pane,
  "bg-highlight":                  $bg-highlight,
  "bg-active":                     $bg-active,
  "bg-active-splitter":            $bg-active-splitter,
  "bg-active-splitter-virtual":    $bg-active-splitter-virtual,
  "bg-footer":                     $bg-footer,
  "bg-disabled":                   $bg-disabled,
  "edge-l":                        $edge-l1,
  "edge-ll":                       $edge-l2,
  "edge-lll":                      $edge-l3,
  "edge-llll":                     $edge-l4,
  "modal-backdrop":                $modal-backdrop,
  "modal-backdrop-show":           $modal-backdrop-show,
  "close-opacity":                 $close-opacity,
  "box-shadow":                    $box-shadow,
  "btn-shadow":                    $btn-shadow,
);

$gen-app-colors-dark: (
  "typo-text":                     $typo-text-dm,
  "typo-text-h6":                  $typo-text-h6-dm,
  "typo-disabled":                 $typo-disabled-dm,
  "typo-active":                   $typo-active-dm,
  "typo-footer":                   $typo-footer-dm,
  "typo-space":                    $typo-space-dm,
  "typo-panel":                    $typo-panel-dm,
  "typo-btn-disabled":             $typo-btn-disabled-dm,
  "bg-navbar":                     $bg-navbar-dm,
  "bg-content-header":             $bg-content-header-dm,
  "bg-content-panel":              $bg-content-panel-dm,
  "bg-tabs":                       $bg-tabs-dm,
  "bg-tabs-active":                $bg-tabs-active-dm,
  "bg-pane":                       $bg-pane-dm,
  "bg-highlight":                  $bg-highlight-dm,
  "bg-active":                     $bg-active-dm,
  "bg-active-splitter":            $bg-active-splitter-dm,
  "bg-active-splitter-virtual":    $bg-active-splitter-virtual-dm,
  "bg-footer":                     $bg-footer-dm,
  "bg-disabled":                   $bg-disabled-dm,
  "edge-l":                        $edge-l1-dm,
  "edge-ll":                       $edge-l2-dm,
  "edge-lll":                      $edge-l3-dm,
  "edge-llll":                     $edge-l4-dm,
  "modal-backdrop":                $modal-backdrop-dm,
  "modal-backdrop-show":           $modal-backdrop-show-dm,
  "close-opacity":                 $close-opacity-dm,
  "box-shadow":                    $box-shadow-dm,
  "btn-shadow":                    $btn-shadow-dm,
);

$gen-app-colors-common: (
  "blue-spec-1":                   $blue-1,
  "blue-spec-2":                   $blue-2,
);
