/*
 -	Variables - Forms
 */


$input-color:                  var(--typo-text);
$input-disabled-color:         var(--bg-typo-disabled);
$input-bg:                     var(--bg-content-panel);
$input-border-color:           var(--edge-llll);
$input-disabled-bg:            var(--bg-disabled);
$input-border-radius:          0;

$input-padding-y:              ( $grid-gutter-width / 4 );
$input-padding-x:              ( $grid-gutter-width / 2 );

$input-btn-padding-y:          ( $grid-gutter-width / 4 );
$input-btn-padding-x:          ( $grid-gutter-width / 2 );

$custom-select-padding-y:      .375rem;
$custom-select-padding-x:      .75rem;
 
$input-focus-color:            var(--typo-text);
$input-focus-bg:               var(--bg-content-panel);
$input-focus-border-color:     var(--bg-active);