/*
 -	Variables - General
 */

$font-size-base:                              1rem;
$font-size-sm:                                $font-size-base * .875;
$line-height-base:                            1.5;

$border-width:                                1px;

$context-app-class:                           '.app-client';

$square-wrapper-size-normal:                  32px;
$square-wrapper-size-large:                   44px;

$square-wrapper-size-normal:                  32px;
$square-wrapper-size-large:                   44px;


$content-header-height:                       74px;
$nav-tabs-height-normal:                      $square-wrapper-size-normal;
$nav-tabs-height-large:                       $square-wrapper-size-large;
$nav-link-font-size-normal:                   .875rem;
$nav-link-font-size-large:                    1rem;


$content-header-nav-tabs-height-normal:       $content-header-height + $nav-tabs-height-normal;
$content-header-nav-tabs-height-large:        $content-header-height + $nav-tabs-height-large;

$context-panel-comment-height:                76px;

$modal-content-border-radius:                 0;