/*
 -	Variables - grid layout
 */


$spacer:                                12px;
$grid-gutter-width:                     24px;

$offset-tab-close-normal:               ( $grid-gutter-width / 4 );
$offset-tab-close-negative-normal:      ( -$grid-gutter-width / 4 );
$offset-tab-close-large:                ( $grid-gutter-width / 3 );
$offset-tab-close-negative-large:       ( -$grid-gutter-width / 3 );