/*
 -	Variables - icons
 */


$icon-size-small:               .6rem;
$icon-size-normal:              1rem;
$icon-size-large:               1.25rem;

$icon-offset-x-small:           ( $grid-gutter-width / 8 );
$icon-offset-x-normal:          ( $grid-gutter-width / 8 );
$icon-offset-x-large:           ( $grid-gutter-width / 4 );
$icon-offset-y-small:           ( $grid-gutter-width / 8 );
$icon-offset-y-normal:          ( $grid-gutter-width / 8 );
$icon-offset-y-large:           ( $grid-gutter-width / 3 );