/*
 -	Variables - Navbar
 */



$navbar-height-normal:               34px;
$navbar-height-large:                56px;
$navbar-logo-size-normal:            $navbar-height-normal;
$navbar-logo-size-large:             $navbar-height-large;