/*
 -	Variables - Navs
 */


$nav-link-padding-y:                           var(--icon-offset-y);
$nav-link-padding-x:                           var(--icon-offset-x);
$nav-link-height:                              $font-size-base * $line-height-base + .5rem * 2 !default;

$nav-tabs-border-width:                        0;
$nav-tabs-border-color:                        transparent;
$nav-tabs-border-radius:                       0;
$nav-tabs-link-active-color:                   var(--typo-text);
$nav-tabs-link-active-bg:                      var(--bg-tabs-active);
$nav-tabs-link-hover-border-color:             transparent;
$nav-tabs-link-active-border-color:            transparent;