/*
 -  Theme icons
 */

$icon-version: random();

@font-face {
	font-family: 'BotUI Icons';
	src:
		url('#{$icon-path}/icons.ttf?#{$icon-version}') format('truetype'),
		url('#{$icon-path}/icons.woff?#{$icon-version}') format('woff'),
		url('#{$icon-path}/icons.svg?#{$icon-version}#icons') format('svg');
	font-weight: 400;
	font-style: normal;
}

.icon {

	&--small {
		font-size: $icon-size-small !important;
	}

	&--large {
		font-size: $icon-size-large !important;
	}

	&--light {
		color: $icons-inactive !important;
	}

	&__holder-small {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: middle;

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

@function unicode ($str) {
	@return unquote('\"') + $str + unquote('\"');
}

// Icons variables array
$icons: (
	mic:         	 \e91e,
	volume:          \ea26,
	speaking-head:   \e900,
	arrow-up:   	 \ea3a,
	play:   	 	 \ea1c,
	pause:   		 \ea1d,
	stop:   		 \ea1e,
	menu-down:   	 \e9bf,
	menu-up: 		 \e9c0,
	equalizer: 		 \e992,
	volume-mute: 	 \ea2a,
	menu:	 	 	 \e9bd,
	minus: 	 	     \ea0b,
    blocked: 	 	 \ea0e,
);

// Icons aplication to class
@each $name, $icon in $icons {
	.icon--content--#{$name}::before {
		content: unicode($icon);
	}
	.icon--content--#{$name} {
	    @include icon;
	}
}
