/*
 -	Font-face declaration for custom typography
 -	@param {String} [font-name] - Name of the font family
 -	@param {url} [file-name] - URL address for font files
 -	@param {Number} [weight=400] - Weight or boldness of the font
 -	@param {String} [style=normal] - Face of the font-family (normal, italic or oblique)
 */

@mixin font-face($font-name, $file-name, $weight: 400, $style: normal) {
	@font-face {
		font-family: quote($font-name);
		// src: url($file-name + '.eot');
		src: url($file-name + '.ttf')  format('truetype');
		 //url($file-name + '.woff') format('woff');
		// url($file-name + '.eot?#iefix')  format('embedded-opentype'),
		// url($file-name + '.svg##{$font-name}')  format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin icon() {
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword, declaration-no-important */
	font-family: 'BotUI Icons' !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: $icon-size;
}

@mixin pcm($height: 80px, $animation-speed: 500ms) {
	bottom: 0;
	opacity: .75;
	z-index: 1;
	height: $height;
	transition: all $animation-speed linear;
	pointer-events: none;

	&.bu-invisible {
		opacity: 0;
	}

	&-user {
		background: #727272;
		background: linear-gradient(0deg, #727272 0%, rgba(255,255,255,0) 100%);
	}

	&-bot {
		background: #05e505;
		background: linear-gradient(0deg, #05e505 0%, rgba(255,255,255,0) 100%);
	}
}

@mixin text-outline($color) {
	text-shadow: -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color, 1px 1px 0 $color;
}
